* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}
html {
  height:100vh;
}
body {
  height:100vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#10214e;
  font-family: 'Roboto', sans-serif;
}

main {
  width: 100vw;
  height: calc(100vh - 2rem);
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  background-color: #fbf7f1;
}
article {
  width: 50vw;
  max-width: 40em;
  min-width: 25em;
  min-height: 24em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(255 255 255);
  box-shadow: 0 0 20px 20px rgba(0,0,0,.1);
  border-radius: 1rem;
  position: relative;
  transition: .25s;
}

section.blokCenter {
  text-align: center;
}

.blokCenter h1,
.blokCenter h2 {
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0em 1em;
  justify-content: flex-end;
}

h1 {
  color: #000;
  font-size: 3.8em;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.2rem;
  font-family: 'Expletus Sans', cursive;
}
h2{
  font-weight: 200;
}

.btn {
  padding: 0.8rem 2rem;
  background: #1e1d1d;
  border-radius: 2rem;
  cursor: pointer;
  color: white;
  transition: 250ms ease-in-out;
  border: none;
}
.btn:hover,
.socials a:hover,
button.backBtn:hover {
  background: #413f3f;
}

/* ICOONTJE BEWEEGT ALS JE OVER DE BUTTON HOVERT */
.btn:hover i {
  transform: translateX(.2rem);
  transition: 250ms ease-in-out;
}

article .btn {
  position: absolute;
  bottom: 2rem;
}

p { 
  margin:0
}

ul,
a.backBtn,
button.backBtn  {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
ul li {
  display: inline-block;
}
ul li a {
  text-decoration: none;
  color: #1e1d1d;
}
.socials a,
a.backBtn,
button.backBtn {
  transition: 250ms ease-in-out;
  padding: 0.8rem;
  background-color: #1e1d1d;
  color: white;
  border-radius: 5rem;
  margin-right: 1rem;
  border: none;
}
.socials li:last-child a{
  margin-right: 0;
}

i
 {
  transition: 250ms ease-in-out;
}
a.backBtn:hover i,
button.backBtn:hover i {
  transform: rotate(-20deg);
  transition: 250ms ease-in-out;
}

button {
  cursor: pointer;
}
/* FLEX */
.flexCenter {
  justify-content: center;
  align-items: center;
  display: flex;
}

img {
  position: absolute;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: white 0.4rem solid;
    top: -2rem;
    left: -2rem;
    /* hierdoor sized de img goed */
    object-fit: cover;
}

/* --- FLIP CARDS ---  */
.cards{
  transition: .75s ease-in-out;
}
.cards:hover {
  /* animation: bounce .75s ease-in-out; */
}
/* ANIMATIE BOUNCE */

@keyframes bounce {
  0%, 100% {transform: translateY(0);}
  50% {transform: translateY(-.25rem);} /* - is omhoog */
}
@keyframes bounce2 {
  0%, 100% {transform: translateY(0);}
  20% {transform: translateY(-1rem);} /* - is omhoog */
  40% {transform: translateY(.75rem);}
  60% {transform: translateY(-.5rem);}
  80% {transform: translateY(.25rem);}
}
/* EINE ANIMATIE BOUNCE */

main {
  perspective: 1000px;
}

.cards {
  transition: transform 1s;
  transform-style: preserve-3d;
}

.cards.turned {
  transform: rotateY(180deg);
}

.turned .cardFront {
  /* display: none; */
}
.turned .cardBack {
  /* display: flex; */
}

.cardFront,
.cardBack{
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cardBack{
  position: absolute;
  /* display: none; */
  transition: .75s ease-in-out;
  /* wanneer je flipt staat de tekst goed */
  transform: rotateY(180deg);
}
.showCard .cardBack{
  display: flex;
  transition: .75s ease-in-out;
}

/* --- FOOTER --- */
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
  background: #1e1d1d;
  text-align: center;
  color: rgba(158, 158, 158, 0.603);
}